/* Contact.css */

.contact_section {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    gap: 50px;
  }
  
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: max-content;
    height: auto;
  }
  
  .contact_info {
    gap: 10%;
    width: 80%;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }
  
  .email_form {
    width: 50%;
    border: unset;
    padding: 20px;
  }
  
  .email_form h3 {
    margin-top: 0;
  }
  
  .email_form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .email_form input[type="email"],
  .email_form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .email_form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 40px;
    background-color: rgb(16, 16, 44);
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .email_form button:hover {
    background-color: #0056b3;
  }
  

/* Dodaj style dla urządzeń mobilnych i tabletów */
@media screen and (max-width: 768px) {
    .contact_info {
        width: 100%; /* Na urządzeniach mobilnych i tabletach szerokość będzie 100% */
    }

    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 95%;
        height: 300px;
      }

    .email_form {
        width: 100%; /* Na urządzeniach mobilnych i tabletach szerokość będzie 100% */
    }
}