.cartform {
    width: auto;

}

.cartform_navbar {
    padding: 10px 10px 10px 10px;
    background-color: rgb(7, 14, 59);
}

.heading_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .heading_content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}